In [5]:
import numpy  as np
import os
cwd=os.getcwd()
print("C:urrent working directory: {0}".format(os.getcwd()))

C:urrent working directory: /Users/fanfan/git/kiva-ayiti

In [42]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import os
cwd=os.getcwd()
print("C:current working directory: {0}".format(os.getcwd()))
dfacme=pd.read_excel("acme PF-Dec2021-Part-Sent.xlsx")
dfacme.head(15)

#dfacme.info()
for col in dfacme.select_dtypes('float'):
        print(col)
        plt.figure()
        sns.distplot(dfacme[col])

C:current working directory: /Users/fanfan/git/kiva-ayiti
Taux d'Interet (Mensuel)

TypeError: 'module' object is not callable

In [3]:
%matplotlib inline
import seaborn as sns

In [4]:
dffaf = pd.read_csv("LarsonC.csv")
dffaf["Date"]= pd.to_datetime(dffaf["Date"], dayfirst=True)
dffaf["Last"]= pd.to_datetime(dffaf["Last"], dayfirst=True)
dffaf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2993 non-null   int64
 1   Agency           2989 non-null   object
 2   Status           2989 non-null   object
 3   Client ID        2993 non-null   int64
 4   Client Name      2993 non-null   object
 5   Sex              2993 non-null   object
 6   Group            2993 non-null   object
 7   Product ID       2420 non-null   float64
 8   Product Name     2420 non-null   object
 9   Loan Number      2993 non-null   int64
 10  Granted          2993 non-null   int64
 11  Rate             2993 non-null   float64
 12  Duration         2993 non-null   int64
 13  Date             2993 non-null   datetime64[ns]
 14  Cycle            2993 non-null   int64
 15  Balance          2993 non-null   float64
 16  Late Principal   2993 non-null   float64
 17  Late Interest    2993 non-null   float64
 18  Days Late        2993 non-null   int64
 19  < 30 Day         2993 non-null   float64
 20  < 60 Day         2993 non-null   float64
 21  < 90 Day         2993 non-null   float64
 22  < 180 Day        2993 non-null   float64
 23  180 Day or more  2993 non-null   float64
 24  Last Payment     2889 non-null   object
 25  Account Balance  2682 non-null   float64
 26  Last             2682 non-null   datetime64[ns]
 27  Agent            2993 non-null   int64
 28  Status.1         2993 non-null   object
dtypes: datetime64[ns](2), float64(11), int64(8), object(8)
memory usage: 678.2+ KB